.pure-menu{
    background-color: black;
    text-align: right;
       position: fixed;
       top: 0px;
       z-index: 2;

}

.pure-menu-item a{
   color: white; 
}

.pure-menu-item{
    
} 


#popUp{
    width: 40%;
    height: 40%;
    background-color: black;
    position: fixed;
    left: 30%;
    top: 20%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

}

#popUp form{
    text-align: center;
}

#popUpButton{
    margin: 0 auto;
}

#popUp h2{
    text-align: center;
    
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#popUp p{
    text-align: center;
    
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#searchbar{
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
    top: 10em;
    
    background-color: black;
    display: inline;
    padding: .5em;
        padding-top: 1em;

    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#searchbar form{
    text-align: center;
}

#searchbar select, #searchbar input[type="date"]{
    border: none;
    height: 2.5em;
    margin-bottom: 0.5em;
    text-align: center;
    width: 95%;
}


#searchbarButton{
    text-align: center;
    border: none;
    width: 95%;
    height: 2.5em;
    color: white;
    background: rgba(72,155,194,1);
    background: -moz-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(72,155,194,1)), color-stop(100%, rgba(222,51,51,1)));
    background: -webkit-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: -o-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489bc2', endColorstr='#de3333', GradientType=1 );
}

#searchbar label{
    color: white; 
}


select{
    margin: none;
}

#dayContainer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
    top: 25em;
    width: 60%;

}

.day{
    width: 100%;
    height: 100px;
    
}

.day h1{
    font-family: 'Montserrat', sans-serif;
}

.day h1::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(72,155,194,1);
    background: -moz-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(186,77,77,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(72,155,194,1)), color-stop(100%, rgba(186,77,77,1)));
    background: -webkit-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(186,77,77,1) 100%);
    background: -o-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(186,77,77,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(186,77,77,1) 100%);
    background: linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(186,77,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489bc2', endColorstr='#ba4d4d', GradientType=1 );

}

.job{
    width: 100%;
    margin-top: 1.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: black;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    
}

.job h3{
    
    float: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.jobDetails{
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    height: 10em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 3px;
}
.splash-container {
    //background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */

}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
	font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: normal;
    color: white;
}
html,body {
	margin: 0;
	padding: 0;
	
}
.slider {
	width: 100%;
	margin: auto;
	
	
}

.slider-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	
}

.slide 
{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 2s linear;
	
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
img
{
background-size: cover;
}





.jobDetails p{
    text-align: left;
}


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Montserrat', sans-serif;
}

.job_location::before{
    content:url('castle.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    left: -0.25em;
    top: 0.25em;
}

.job_time::before{
  content:url('clock.png'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
  left: -0.25em;
    top: 0.25em;

}

.job_position::before{
  content:url('profile.png'); /* with class ModalCarrot ??*/
  position:relative; /*or absolute*/
  left: -0.25em;
    top: 0.25em;

}

.applyButton{
    border: none;
    height: 2.5em;
    width: 25%;
    border-radius: 3px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
        
    color: white;
    background: rgba(72,155,194,1);
    background: -moz-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(72,155,194,1)), color-stop(100%, rgba(222,51,51,1)));
    background: -webkit-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: -o-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    background: linear-gradient(45deg, rgba(72,155,194,1) 0%, rgba(222,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489bc2', endColorstr='#de3333', GradientType=1 );
    transition: all .2s;
}

.applyButton:hover{
    transform: scale(1.05);
}
.applyButton:active{
    transform: scale(1);
}

.jobHeader{
    padding: .75em;
    padding-left: 2em;
    cursor: pointer;
    transition: .2s;
}

.jobHeader:hover{
    opacity: 0.9;
}

.jobNumber{
    font-size: .5em;
    font-weight: normal;
}

.plus{
    height: 2em;
    width: .3em;
    background-color: white;
    transition: all .3s;
}

.minus{
    height: .3em;
    width: 2em;
    background-color: white;
    margin-left: -0.85em;
    top: -1.18em;
    position: relative;
  
}

.plusAndMinus{
    float: right;
}

#date_from::before{
    content: "From:  ";
    color: black;
}
#date_to::before{
    content: "To:  ";
    color: black;
}



#profileform{
    position: absolute;
	margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
}

#profileform .pure-form input[type]{
	font-size: 100%;
	width: 100%;
}

#profileform button{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	right:0;
    left:0;
}
