   
   {% include 'head.html' with {'title': 'Login for nations'} %}
	
	<body>

        <div class="pure-menu pure-menu-horizontal">
            <span class="pure-menu-list left-float" ><p id="logga" class="pure-menu-list">NATION JOBS</p></span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">MY PROFILE</a></li>
            </ul>
            
        </div>
	
	<div id="header">
	<h1>Login for nations</h1>
	</div>
	

	<div class="pure-g">
	
	<div id="profileform" class="pure-u-1 pure-u-md-1-5">
	
	
	<form class="pure-form pure-form-stacked" method ="POST" action="work.html">
    <fieldset>
        <div class="pure-control-group">
            <label for="uname">Username</label>
            <input id="uname" type="text" placeholder="Username" name="uname">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="text" placeholder="Password" name="password">
        </div>

            <button type="submit" class="pure-button pure-button-primary applyButton">Submit</button>
        </div>
    </fieldset>
</form>
	
	
	
	
	
	
	    </body>
</html>