
{% include 'head.html' with {'title': 'My profile'} %}

    <body>
	
	        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Log In</a></li>
            </ul>
            
        </div>
	
	
	<div id="header">
	<h1>My Profile</h1>
	</div>
	

	<div class="pure-g">
	
	
	
	<div id="profileform" class="pure-u-1 pure-u-md-1-5">
	
	
	<form class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">First name</label>
            <input id="fname" type="text" placeholder="First name">
        </div>

        <div class="pure-control-group">
            <label for="lname">Last name</label>
            <input id="lname" type="text" placeholder="Last name">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
        </div>
		
		<div class="pure-control-group">
            <label for="phone">Mobile phone number</label>
            <input id="phone" type="email" placeholder="Mobile phone number">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
	
	
	
	</div>
	
	</div>
	
	
	    </body>
</html>
